DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_NAME=candidate_screening_development

REDIS_URL=redis://localhost:6379/0

JSON_WEBHOOK_AUTH_KEY=change_me_json
XML_WEBHOOK_AUTH_KEY=change_me_xml

RAILS_MAX_THREADS=5
PORT=3000
